body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #443e4c;
}
.top-container {
  background-color: #b9cced;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.lidesc{
  font-weight: normal;
  margin-bottom: 30px;
}
.pro{
  text-decoration: underline;
}
h1 {
  font-size: 7rem;
  margin: 10px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #35477d;
  line-height: 2;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 5rem;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 40px;
  width: 5rem;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #c06c84;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #6c5b7b;
}

.middle-container{
  margin: 100px 0;
}
.profile{
  margin-top:70px;
}

.liz-img{
  width: 15rem;
  height: auto;
  border-radius: 50%;

}
hr {
  border: dotted #35477d 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.desc-myself
{
  width: 30%;
  margin: auto;
}
p{
  line-height: 2;
}
.skill-row{
  text-align: left;
  width: 50%;
  margin:100px auto 100px auto;
}
.develop-img{
  width: 25%;
  height: auto;
  float: left;
  margin: auto 30px auto auto;
  border-radius: 50%;
}
.read-img{
  width: 25%;
  height: auto;
  float: right;
  margin: auto auto 30px auto;
  border-radius: 50%;
}
.contact-message{
  width: 40%;
  margin: auto;
}
.btn {
  margin-top: 20px;
	box-shadow: 0 1px 0 0 #35477d;
	background:linear-gradient(to bottom, #6c5b7b 5%, #35477d 100%);
	background-color:#35477d;
	border-radius:6px;
	border:1px solid #35477d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Montserrat", sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 -1px 0 #fffffa;
}
.btn:hover {
	background:linear-gradient(to bottom, #35477d 5%, #6c5b7b 100%);
	background-color:#11adb2;
}
.btn:active {
	position:relative;
	top:1px;
}

.bottom-container{
  margin-top: 50px;
  padding-top: 50px;
  background-color: #b9cced;
  margin-bottom: 0;
  padding-bottom: 30px;
}
a{
  color: #35477d;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #6c5b7b;
}
.copyright-desc{
  color: #6c5b7b;
  font-size: 0.75rem;
  padding: 20px 0;
}
